<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pal"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pal"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".j_string"
            android:exported="false" />
        <activity
            android:name=".j_op"
            android:exported="false" />
        <activity
            android:name=".jdt"
            android:exported="false" />
        <activity
            android:name=".j_var"
            android:exported="false" />
        <activity
            android:name=".j_intro"
            android:exported="false" />
        <activity
            android:name=".case_statement"
            android:exported="false" />
        <activity
            android:name=".where_clause"
            android:exported="false" />
        <activity
            android:name=".null_value"
            android:exported="false" />
        <activity
            android:name=".update_statement"
            android:exported="false" />
        <activity
            android:name=".s_obk"
            android:exported="false" />
        <activity
            android:name=".aon_operator"
            android:exported="false" />
        <activity
            android:name=".ssb"
            android:exported="false" />
        <activity
            android:name=".s_intro"
            android:exported="false" />
        <activity
            android:name=".as_run"
            android:exported="false" />
        <activity
            android:name=".as_ui"
            android:exported="false" />
        <activity
            android:name=".as_avd"
            android:exported="false" />
        <activity
            android:name=".as_create"
            android:exported="false" />
        <activity
            android:name=".as_basic"
            android:exported="false" />
        <activity
            android:name=".as_intro"
            android:exported="false" />
        <activity
            android:name=".android"
            android:exported="false" />
        <activity
            android:name=".vb_net"
            android:exported="false" />
        <activity
            android:name=".sql"
            android:exported="false" />
        <activity
            android:name=".python"
            android:exported="false" />
        <activity
            android:name=".java"
            android:exported="false" />
        <activity
            android:name=".html"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>